<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%# フォローボタン %>
      <%= render "unfollow" %>
    <% else %>
      <%# フォロー解除ボタン %>
      <%= render "follow" %>
    <% end %>
  </div>
<% end %>
